In [2]:
import pandas as pd
import numpy as np
cust_data = pd.read_csv('C://Users//JCCLI//Downloads//cust_seg_clean.csv')
cust_data.columns = ['Date', 'Customer_id', 'Employee index', 'Country', 'Gender', 'Age', 'Contract date', 'New customer index', 'Seniority(months)', 'Primary',
                'Customer type', 'Customer relation type', 'Residence index', 'Foreigner index', 'Channel', 'Deceased index',
               'Province name', 'Activity index', 'Income', 'Saving account', 'Guarantees', 'Current account', 'Derivada account',
              'Payroll account', 'Junior account', 'Most particular account', 'Particular account', 'Particular plus account', 'Short-term deposits', 'Medium-term deposits',
                'Long-term deposits', 'e-account', 'Funds', 'Mortage', 'Pensions_1', 'Loans', 'Taxes', 'Credit card', 'Securities', 'Home account', 'Payroll', 'Pensions_2', 'Direct debit']

In [3]:
cust_data.head()

,Date,Customer_id,Employee index,Country,Gender,Age,Contract date,New customer index,Seniority(months),Primary,...,Mortage,Pensions_1,Loans,Taxes,Credit card,Securities,Home account,Payroll,Pensions_2,Direct debit
0,2015-01-28,1375586,N,ES,H,34,2015-01-12,0.0,8,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,22,2012-08-10,0.0,37,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,22,2012-08-10,0.0,37,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,21,2012-08-10,0.0,37,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050615,N,ES,H,22,2012-08-10,0.0,37,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [ ]:
cust_data.to_csv('C://Users//JCCLI//Downloads//cust_seg_cleaneddata.csv', index=False, header=True)